---
import Og from "../components/OpenGraph/OG";
---

<div class="w-full bg-primary py-10">
  <div class="w-fit mx-auto flex flex-col gap-8">
    <div class="w-[600px] h-[360px] rounded">
      <Og title="组件开发和路易十六有什么关系？- Headless Component" ep={27} />
    </div>
    <div class="w-[600px] h-[360px] rounded">
      <Og title="Low Code 到底 Low 不 Low" sp={27} />
    </div>
  </div>
</div>
