---
import { YouTube } from '@astro-community/astro-embed-youtube'

interface Props {
  youtubeId: string
  bilibiliUrl: string
}

const { youtubeId, bilibiliUrl } = Astro.props
---

<div class="gap-4 grid grid-cols-1 md:grid-cols-2">
  <YouTube id={youtubeId} class="flex-1 aspect-video" />
  <iframe
    src={bilibiliUrl}
    allowfullscreen="true"
    class="flex-1 aspect-video border-0"
  ></iframe>
</div>
